* {
    margin: 0;
    padding: 0;
    font-family: 'Cardo', serif;
}

.mainContainer {
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 8.125rem;
}

.headerNav {
    display: flex;
    gap: 1.5rem;
}

.introSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 2rem 4.5rem;
    flex-wrap: wrap-reverse;
}

.introSection_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.introSection_title {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    max-width: 28rem;
}

.regularButton {
    background-color: #00EC5B;
    width: fit-content;
    padding: 1.25rem 3.125rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: #101213;
}

.middleSection {
    display: flex;
    flex-direction: column;
    padding: 6rem 0rem;
    gap: 12rem;
}

.productSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.productSection_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.productSection_text {
    width: 70%;
    text-align: center;
}

.productSection_cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.card {
    width: 22.5rem;
    height: 30.25rem;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.card button {
    position: relative;
    bottom: -5%;
}

.imagesPanel {
    display: flex;
    margin: auto;
    width: 90%;
    max-width: 70rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.panelImg1 {
    width: 50%;
    height: 50rem;
    background-image: url(./assets/festa.svg);
    background-size: cover;
    background-position: center;
    min-width: 20.4rem;
}

.panelRight {
    width: 50%;
    min-width: 20.4rem;
}


.panelImg2 {
    width: 100%;
    height: 25.3rem;
    background-image: url(./assets/bartender.svg);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
}

.panelImg2_shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(27, 31, 28, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    box-sizing: border-box;
    text-align: center;
}

.bottomSection {
    position: relative;
    background-color: #00EC5B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.5rem 0rem;
}

.bottomSection_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bottomSection_title {
    font-size: 1.5rem;
}

.bottomSection button {
    background-color: #1B1F1C;
    color: #FFFFFF;
}

.lata3 {
    position: absolute;
    left: 10%;
    top: -5rem;
}

.lata4 {
    position: absolute;
    left: 15%;
    top: 2rem;
}

.lata5 {
    position: absolute;
    right: 8%;
    top: -7rem;
}

.lata6 {
    display: none;
}


.footer {
    position: relative;
    background-color: #1B1F1C;
    color: #FFFFFF;
}

.firstFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7rem 0rem;
    flex-wrap: wrap;
}
.firstFooter_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.firstFooter_title {
    font-size: 2.5rem;
}

.contato {
    display: flex;
    gap: 0.5rem;
}

.footerForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 35%;
    min-width: 21rem;
}

.footerForm input, textarea, select{
    background-color: #1B1F1C;
    border: none;
    resize: none;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
    padding: 0.75rem;
    font-size: 1rem;
}

.footerForm label {
    font-size: 0.75rem;
}

.footerForm textarea {
    height: 8rem;
}
 /* form com focus */
.footerForm input:focus {
    outline: none;
    border-color: #00EC5B;
    background-color: rgba(255,255,255,0.3);
}

.footerForm select:focus {
    outline: none;
    border-color: #00EC5B;
    background-color: rgba(255,255,255,0.3);
}

.footerForm textarea:focus {
    outline: none;
    border-color: #00EC5B;
    background-color: rgba(255,255,255,0.3);
}


.footerForm_container {
    display: flex;
    justify-content: space-between;
}

.telEemail {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

#formTel {
    width: 35%;
}

#formEmail {
    width: 60%;
}


.footerForm button {
    margin-top: 2rem;
    align-self: flex-end;
}

.secondFooter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    /* padding: 2rem 9.375rem; */
    text-align: center;
}

.secondFooter_text {
    font-size: 0.75rem;
    text-align: center;
}

.secondFooter_container {
    display: flex;
    align-items: center;
    font-size: 0.6rem;
}



@media screen and (max-width: 950px) {
    .lata3, .lata4, .lata5 {
        display: none;
    }

    .lata6 {
        display: block;
        width: fit-content;
        position: relative;
        top: -6rem;
    }

    .bottomSection {
        flex-direction: column;
        padding: 0rem 0rem 3rem 0rem;
    }

}

@media screen and (max-width: 900px) {
    .introSection {
        flex-direction: column-reverse;
        text-align: center;
    }

    .introSection_title {
        font-size: 2.5rem;
    }

    .introSection_container button{
        width: 100%;
    }
}

@media screen and (max-width: 740px){
    .header {
        padding: 1.25rem 1rem;
    }
    .firstFooter {
        flex-direction: column;
    }

    .footerForm {
        width: 85%;
    }

    .footerForm_container {
        flex-direction: column;
    }

    #formTel {
        width: 100%;
    }

    #formEmail {
        width: 100%;
    }

    .footerForm button {
        width: 100%;
    }
}